html, body {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 90px;
    font-family: fantasy;
    font-weight: 300;
    color: red; 
  }
  
  body {
    background-color: #121212;
    color: rgb(143, 101, 143);
    font-family: Arial, sans-serif;
    text-align: center;

  }

  .welcomeimg {
    height: 110vw;
    width: 98.4%;
    margin-right: 0;
    display: block;
    filter: brightness(50%);
    position: absolute;
    z-index: -1;
  }
  
  #nav-bar {
    background-color: #222;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  #navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #navbar li {
    display: inline-block;
    margin-right: 20px;
  }
  
  #navbar li:last-child {
    margin-right: 0;
  }
  
  .nav-link {
    color: #d70000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .nav-link:hover {
    background-color: #444;
  }
  
  #content {
    padding: 20px;
  }
  
  #welcome-section, #projects, #contact {
    margin-bottom: 40px;
  }
  
  #welcome-section {
    height: 100vw;
  }
  
  h1, h2, h3, h4 {
    font-family: fantasy;
    color: #cb1010;
  }
  
  a {
    color: #2206dd;
    text-decoration: none;
    display:block;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .project-tile {
    display: block;
    margin-bottom: 10px;
  }
  
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #fff;
    width: 100%;
    position: absolute;
  }

  ::-webkit-scrollbar {
    display: none;
}
  
  @media screen and (max-width: 800px) {
    #content {
      color: red; 
    }
}